* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
.sanpham {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
    margin: 20px 140px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.item_img {
    padding: 0 35px;
    text-align: center;
    overflow: hidden;
}

.item_img img {
    width: 90%;
    transition: .5s;
}

.item_img img:hover {
    transform: scale(1.2);
}

.sanphamcon {
    margin: 10px;
    width: 280px;
    height: 325px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px px 5px #AAA;
    border-radius: 5px;
}
.hove{
    position: relative;
    overflow: hidden;

}

 .chitiet {
    background: #ccc;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    transition: 0.5s;
    position: absolute;
    bottom: -42px;
}
.hove:hover .chitiet{
    bottom: 0;
}
.sanphamcon .content {
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.sanphamcon .chitiet h3 a{
    text-decoration: none;
    color: black;
}
.sanphamcon .content h3 {
    font-size: 15px;
    margin: 10px;
    font-weight: 700;
}
.sanphamcon .content h3 a{
    text-decoration: none;
    color:black;
    transition: 0.5s;
}
.sanphamcon .content h3 a:hover{
    color: orange;
}
.sanphamcon .content .price{
    margin: 10px;
    color: black;
}